{% extends 'manager/basemanager.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'managereditpage.css' %}">
<div class="container mt-4">
    <h2>Edit Car Color</h2>

    <!-- Start the form -->
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <!-- First Section: Car Information -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <!-- Car Color Name -->
                    <div class="col-md-6 mb-3">
                        <label for="id_color_name">Color Name</label>
                        {{ form.color }}
                        {{ form.color.errors }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit and Cancel Buttons -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Changes</button>

            <a href="{% url 'manager_car_color' %}" class="btn btn-secondary" style="background-color: #dc3545; color: white; border-color: #dc3545;">
                Cancel
            </a>
        </div>
    </form>
</div>
{% endblock %}
