.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.card {
    border-radius: 5px; /* Rounded corners */
    background-color: #f7f7f7; /* Faded background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin-bottom: 1rem;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    #printSection,
    #printSection * {
        visibility: visible;
    }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
    }
}

body {
    background-color: aliceblue;
}

.background-image {
    background-image: url("{% static 'login.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
}

.status-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.available {
    background-color: green;
}

.not-available {
    background-color: red;
}
.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 5px;
}


.disabled {
    pointer-events: none;  /* Disables button clicks */
    opacity: 0.6;
}
